<div class="container">
  <div class="card">
    <div class="card-body row">
      <div class="col-sm-6">
        <p class="text-left">Summary</p>
      </div>
      <div class="col-sm-6 ">
        <p class="text-md-right">Account number will be issued after Checkout</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="my-3">
        <p>Chequing Account</p>
        <div class="row ">
          <div class="card col-sm-5 mx-auto my-1">
            <div class="card-body">
              <div class="d-flex justify-content-between text-info">
                <span>HiSAVE Chequing</span>
                <span>
                  <mat-icon>delete</mat-icon>
                </span>
              </div>
              <hr>
              <div class="d-flex flex-wrap flex-column">
                  <div class="row text-muted">
                      <div class="material-icons">
                        account_circle
                      </div>
                      <div>Account Number</div>
                  </div>
                <div class="row pl-1">
                  <p>34525235</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card col-sm-5 mx-auto my-1">
            <div class="card-body">
              <div class="d-flex justify-content-between text-info">
                <span>Basic Chequing</span>
                <span>
                  <mat-icon>delete</mat-icon>
                </span>
              </div>
              <hr>
              <div class="d-flex flex-wrap flex-column">
                  <div class="row text-muted">
                      <div class="material-icons">
                        account_circle
                      </div>
                      <div>Account Number</div>
                  </div>
                <div class="row pl-1">
                  <p>34525235</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="my-3">
        <p>Saving Account</p>
        <div class="row ">
          <div class="card col-sm-5 mx-auto my-1">
            <div class="card-body">
              <div class="d-flex justify-content-between text-info">
                <span>HiSAVE Saving</span>
                <span>
                  <mat-icon>delete</mat-icon>
                </span>
              </div>
              <hr>
              <div class="d-flex flex-wrap flex-column">
                  <div class="row text-muted">
                      <div class="material-icons">
                        account_circle
                      </div>
                      <div>Account Number</div>
                  </div>
                <div class="row pl-1">
                  <p>34525235</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card col-sm-5 mx-auto my-1">
            <div class="card-body">
              <div class="d-flex justify-content-between text-info">
                <span>HiSAVE Saving</span>
                <span>
                  <mat-icon>delete</mat-icon>
                </span>
              </div>
              <hr>
              <div class="d-flex flex-wrap flex-column">
                  <div class="row text-muted">
                      <div class="material-icons">
                        account_circle
                      </div>
                      <div>Account Number</div>
                  </div>
                <div class="row pl-1">
                  <p>34525235</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="my-3">
        <p>Investment Account</p>
        <div class="row ">
          <div class="card col-sm-5 mx-auto my-1">
            <div class="card-body">
              <div class="d-flex justify-content-between text-info">
                <span>Redeemable GIC</span>
                <span>
                  <mat-icon>delete</mat-icon>
                </span>
              </div>
              <hr>
              <div class="d-flex flex-wrap flex-column">
                  <div class="row text-muted">
                      <div class="material-icons">
                        account_circle
                      </div>
                      <div>Account Number</div>
                  </div>
                <div class="row pl-1">
                  <p>34525235</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card col-sm-5 mx-auto my-1">
            <div class="card-body">
              <div class="d-flex justify-content-between text-info">
                <span>Non Redeemable GIC</span>
                <span>
                  <mat-icon>delete</mat-icon>
                </span>
              </div>
              <hr>
              <div class="d-flex flex-wrap flex-column">
                  <div class="row text-muted">
                      <div class="material-icons">
                        account_circle
                      </div>
                      <div>Account Number</div>
                  </div>
                <div class="row pl-1">
                  <p>34525235</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="my-3">
        <p>Credit Cards</p>
        <div class="row ">
          <div class="card col-sm-5 mx-auto my-1">
            <div class="card-body">
              <div class="d-flex justify-content-between text-info">
                <span>Rubyx Card</span>
                <span>
                  <mat-icon>delete</mat-icon>
                </span>
              </div>
              <hr>
              <div class="d-flex flex-wrap flex-column">
                  <div class="row text-muted">
                      <div class="material-icons">
                        account_circle
                      </div>
                      <div>Account Number</div>
                  </div>
                <div class="row pl-1">
                  <p>34525235</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card col-sm-5 mx-auto my-1">
            <div class="card-body">
              <div class="d-flex justify-content-between text-info">
                <span>HiSAVE Chequing</span>
                <span>
                  <mat-icon>delete</mat-icon>
                </span>
              </div>
              <hr>
              <div class="d-flex flex-wrap flex-column">
                  <div class="row text-muted">
                      <div class="material-icons">
                        account_circle
                      </div>
                      <div>Account Number</div>
                  </div>
                <div class="row pl-1">
                  <p>34525235</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex justify-content-between">
      <div>
        <button type="button" class="btn btn-outline-secondary">Back</button>
      </div>
      <div>
        <button type="button" class="btn btn-outline-info">Checkout</button>
      </div>
    </div>
  </div>
</div>

