<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="main-container col-sm-8 d-flex justify-content-center mx-auto">
      <div class="rounded border border-info col-10 d-flex">
        <div class="col-12 mx-auto p-0 d-flex flex-column flex-wrap justify-content-center">
          <div class="bg-info mt-2 content-head d-flex flex-wrap align-content-center">
            <span class="text-white font-weight-bolder col-12">
              Set up your profile {{'9040642496' | maskIt: 3: 5 }}
            </span>
          </div>
          <div class="my-2">
            <div class="d-flex row">
              <div class="col-sm-6 py-1 ">
                <div class="d-flex">
                  <div class="form-fields col px-1 d-flex flex-wrap align-content-center">
                    <label class="m-0" for="email">Email ID</label>
                  </div>
                  <div class="col px-1 d-flex">
                    <span class="col-11 p-0">
                      <input type="email" class="w-100" id="email">
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 py-1 ">
                <div class="d-flex">
                  <div class="form-fields col px-1 d-flex flex-wrap align-content-center">
                    <label class="m-0" for="confEmail">Confirm Email ID</label>
                  </div>
                  <div class="col px-1 d-flex">
                    <span class="col-11 p-0">
                      <input type="email" class="w-100" id="confEmail">
                    </span>
                    <span class="col-1 p-0">
                      <mat-icon>help</mat-icon>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex row">
              <div class="col-sm-6 py-1 ">
                <div class="d-flex">
                  <div class="form-fields col px-1 d-flex flex-wrap align-content-center">
                    <label class="m-0" for="password">Password</label>
                  </div>
                  <div class="col px-1 d-flex">
                    <span class="col-11 p-0">
                      <input type="password" class="w-100" id="password">
                    </span>
                    <span class="col-1 p-0">
                      <mat-icon>help</mat-icon>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 py-1 ">
                <div class="d-flex">
                  <div class="form-fields col px-1 d-flex flex-wrap align-content-center">
                    <label class="m-0" for="confPassword">Confirm Password</label>
                  </div>
                  <div class="col px-1 d-flex">
                    <span class="col-11 p-0">
                      <input type="password" class="w-100" id="confPassword">
                    </span>
                    <span class="col-1 p-0">
                      <mat-icon>help</mat-icon>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex row">
              <div class="col-sm-6 py-1 ">
                <div class="d-flex">
                  <div class="form-fields col px-1 d-flex flex-wrap align-content-center">
                    <label class="m-0" for="sQ1">Security Question1</label>
                  </div>
                  <div class="col px-1 d-flex">
                    <span class="col-11 p-0">
                      <select class="form-control q-drop py-0" id="sQ1" name="sellist1">
                        <option>Select</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </span>
                    <span class="col-1 p-0">
                      <mat-icon>help</mat-icon>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 py-1 ">
                <div class="d-flex">
                  <div class="form-fields col px-1 d-flex flex-wrap align-content-center">
                    <label class="m-0" for="sQ1Answer">Answer</label>
                  </div>
                  <div class="col px-1 d-flex">
                    <span class="col-11 p-0">
                      <input type="text" class="w-100" id="sQ1Answer">
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex row">
              <div class="col-sm-6 py-1 ">
                <div class="d-flex">
                  <div class="form-fields col px-1 d-flex flex-wrap align-content-center">
                    <label class="m-0" for="sQ2">Security Question2</label>
                  </div>
                  <div class="col px-1 d-flex">
                    <span class="col-11 p-0">
                      <select class="form-control q-drop py-0" id="sQ2" name="sellist1">
                        <option>Select</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </span>
                    <span class="col-1 p-0">
                      <mat-icon>help</mat-icon>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 py-1 ">
                <div class="d-flex">
                  <div class="form-fields col px-1 d-flex flex-wrap align-content-center">
                    <label class="m-0" for="sQ2Answer">Answer</label>
                  </div>
                  <div class="col px-1 d-flex">
                    <span class="col-11 p-0">
                      <input type="text" class="w-100" id="sQ2Answer">
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex row">
              <div class="col-sm-6 py-1 ">
                <div class="d-flex">
                  <div class="form-fields col px-1 d-flex flex-wrap align-content-center">
                    <label class="m-0" for="sQ3">Security Question3</label>
                  </div>
                  <div class="col px-1 d-flex">
                    <span class="col-11 p-0">
                      <!-- <input type="text" class="w-100" id="sQ2"> -->
                      <!-- <select class="custom-select d-block input-sm w-100" id="country" required="">
                        <option value="">Choose...</option>
                        <option>United States</option>
                      </select> -->
                      <select class="form-control q-drop py-0" id="sQ3" name="sellist1">
                        <option>Select</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </span>
                    <span class="col-1 p-0">
                      <mat-icon>help</mat-icon>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 py-1 ">
                <div class="d-flex">
                  <div class="form-fields col px-1 d-flex flex-wrap align-content-center">
                    <label class="m-0" for="sQ3Answer">Answer</label>
                  </div>
                  <div class="col px-1 d-flex">
                    <span class="col-11 p-0">
                      <input type="text" class="w-100" id="sQ3Answer">
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <hr>
            <div>
              <div class="disclaimer p-2">
                <p>
                  Setting up your profile will help you to login to this application later. By clicking on continue that the information provided is your own and permmiting the bank to send emails.
                </p>
              </div>
            </div>
            <div class="d-flex justify-content-around my-2 small">
              <button type="button" class="btn btn-info col-5">
                <span>
                  Back
                </span>
              </button>
              <button type="button" class="btn btn-info col-5">
                <span>
                  Continue
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="1<0" class="main-container col-sm-5 d-flex justify-content-center mx-auto">
  <div class="rounded border border-info col-10 d-flex">
    <div class="col-12 mx-auto p-0 d-flex flex-column flex-wrap justify-content-center">
      <div class="mt-2 dialog d-flex flex-wrap align-content-center">
        <span class="text-white font-weight-bolder col-12 ">
          ICICI Bank Canada
        </span>
      </div>
      <div class="">
        <h4 class="text-center font-weight-bolder">Profile is now set !</h4>
        <p class="text-center font-weight-bold">
          You can continue with your application from where you left by logging in with your email id and password set
        </p>
      </div>
      <div class="row d-flex">
        <button type="button" class="btn btn-info col-4 mx-auto my-2">Continue</button>
      </div>
    </div>
  </div>
</div>
